<h1><%= t('.header', test_title: @test_passing.test.title) %></h1>

<h3><%= t('.questions', current_question: @test_passing.current_question_number, questions_count: @test_passing.test.questions.count) %></h3>

<%= form_with url: test_passing_path(@test_passing), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passing.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= form.submit t('.next') %></p>
<% end %>
