<h1><%= t('.question')%></h1>
<p><%= @answer.question.body %></p>

<h2><%= t('.answer')%></h2>
<p><%= @answer.body %></p>
<p>
  <b><%= t('.correct') %>:</b>
  <%= @answer.correct %>
</p>
<%= link_to t('.edit'), edit_admin_answer_path(@answer) %> |
<%= link_to t('.back'), admin_question_path(@answer.question) %>
