<p>
  <strong><%= t('.title') %></strong>
  <%= @test.title %>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
</p>

<p>
  <%= link_to t('.new_question') , new_admin_test_question_path(@test) %>
  <%= link_to t('.edit') , edit_admin_test_path(@test) %>
  <%= link_to t('.back') , admin_tests_path %>
</p>

<table>
  <caption><%= t('.questions') %></caption>
  <tr>
    <th><%= t('.body') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>

  <%= render 'admin/questions/question' %>
</table>
