<p>
  <strong>Title:</strong>
  <%= @test.title %>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <%= link_to 'New question', new_admin_test_question_path(@test) %>
  <%= link_to 'Edit', edit_admin_test_path(@test) %>
  <%= link_to 'Back', tests_path %>
</p>

<table>
  <caption>Questions</caption>
  <tr>
    <th>Body</th>
    <th colspan="3">Actions</th>
  </tr>

  <%= render 'questions/question' %>
</table>
