<div class="row justify-content-center mt-3">
  <h1><%= t('.header') %></h1>
</div>

<table class="table">
  <thead>
    <th><%= t('.title') %></th>
    <th><%= t('.questions') %></th>
    <th><%= t('.level') %></th>
    <th ><%= t('.actions') %></th>
  </thead>

  <tbody>
    <%= render @tests %>
  </tbody>
</table>
